body{
  background-color: lavender;
  font-family: "Apple SD Gothic Neo";
}

.container{
  display: grid;
}


.nav_wrapper{
  display: flex;
  padding: 15px;
  align-items:center;
}

.nav_wrapper > .header {
  line-height: 0;
  background: -webkit-linear-gradient(#7002ff, #060505);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_wrapper{
  display: grid;
  grid-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 600px) {
  .content_wrapper{ grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .content_wrapper { grid-template-columns: repeat(3, 1fr); }
}

.content_wrapper{
  position: relative;
}

.content_wrapper_link{

}

.content-img-background > img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.img-darken{
  transition-duration: 2s;
  transform: scale(1.2);
  filter: brightness(90%);
}


/*.nav_wrapper_link{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav_wrapper_link a{
  color: #999999;
  text-decoration: none;
  transition: color 0.5s;
}

.nav_wrapper_link:hover{
  border-bottom: 1px solid black;
}

.nav_wrapper_link a:hover{
  color: black;
}*/




