body{
  background-color: lavender;
  font-family: "Apple SD Gothic Neo";
}

.nav_wrapper{
  display: flex;
  padding: 15px;
  align-items: baseline;
}


.nav_wrapper > .header {
  line-height: 0.1;
  background: -webkit-linear-gradient(#7002ff, #060505);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 20px;
  text-align: left;
}

@media (min-width: 600px) {
  .wrapper{ grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .wrapper { grid-template-columns: repeat(3, 1fr); }
}


.content-img-background{
  background: -webkit-linear-gradient(#310962, #060505);
  -webkit-background-clip: text;
}

.Profile{
  display: flex;
  align-items: center;
  justify-content: left;
}

.Title{
  background: -webkit-linear-gradient(#450f98, #060505);
  -webkit-background-clip: text;
  max-font-size: 30px;
  padding-right: 15px;;
}

.Profile img{
  width: 150px;
  height: auto;
  padding-left: 15px;
  padding-top: 30px;
}


.img-darken {
  transition-duration: 2s;
  transform: scale(1.2);
}

.nav_wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav_wrapper a{
  color: #999999;
  text-decoration: none;
  transition: color 0.5s;
}

.nav_wrapper a:hover{
  border-bottom: 2px solid #3a067d;
}





